#rick{
    height: auto;
    width: 100px;
    position: flex;
    flex-direction: row;
    
}
#player{
    height: auto;
    width: 100px;
    position: flex;
    flex-direction: row;
}
.buttons-row{
    position: flex;
    flex-direction: row;
    justify-content: space-between;
}
body {
    background-color: green;

}
p {
    position: flex;
    flex-direction: row;
}
.card {
    height: 80px;
    width: 60px;
    padding: 20px;
    background-color: white;
    text-align: center;
    position: flex;
}