#rick{
    height: auto;
    width: 100px;
    position: flex;
    flex-direction: row;
    

    
}
#player{
    height: auto;
    width: 100px;
    position: flex;
    flex-direction: row;
    float: left;
}
.buttons-row{
    position: flex;
    flex-direction: row;
    justify-content: space-between;
   width: auto;
}
body {
    background-color: green;

}

.cardDealer {
    height: 100px;
    width: 80px;
    padding: 20px;
    margin: 40px;
    border: 50px;
    background-color: green;
    text-align: center;
    position: flex;
    justify-content: center;
    float:  left;
}
.cardPlayer {
    height: 100px;
    width: 80px;
    padding: 20px;
    margin: 40px;
    border: 50px;
    background-color:green;
    text-align: center;
    position: flex;
    justify-content: center;
    float:  right;
}
#cardsP {
    height: 150px;
    width: 100px;
    padding: 20px;
    margin: 40px;
    border: 50px;
    position: flex;
    flex-direction: row;
    justify-content: center;
    float: left;
}
#cardsD {
    height: 150px;
    width: 100px;
    padding: 20px;
    margin: 40px;
    border: 50px;
    position: flex;
    justify-content: center;
}